.list>li {
    list-style-type: none;
    text-align: left;
    font-size: 18px;
    font-weight: 900;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    line-height: 10px;
    transform: translateX(-50%);
    border: 5px dashed black;
    animation: loading 0.5s linear;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

* {
    list-style-type: none;
    grid-column-start: 3;
    grid-column-end: 1;
    width: 3vw;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 900;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid red;
    width: 100px;
    height: 50px;
    border-radius: 10%;
    transition: 0.1s;
}

@media(min-width: 576px) {}

@media(max-width: 576px) {}